/* Import the Design System */
@import url(patterns.css);

/* Global variables */

:root {

/* Neutrals */
--gray-lightest: HSL(0, 0%, 95%);
--gray-lighter: HSL(0, 0%, 90%);
--gray-light: HSL(0, 0%, 80%);
--gray-silver: HSL(0, 0%, 70%);
--gray-medium: HSL(0, 0%, 50%);
--gray-charcoal: HSL(0, 0%, 30%);
--gray-dark: HSL(0, 0%, 20%);
--gray-darker: HSL(0, 0%, 10%);
--gray-darkest: HSL(0, 0%, 5%);

--black: #001214;
--white: #E4FAFC;

/* Colors */
--primary-lightest: hsl(186, 96%, 90%);
--primary-lighterer: hsl(186, 88%, 50%);
--primary-lighter: hsl(186, 75%, 44%);
--primary-light: hsl(186, 96%, 40%);
--primary: hsl(186, 96%, 29%);
--primary-dark: hsl(186, 96%, 22%);
--primary-darker: hsl(186, 80%, 14%);
--primary-darkerer: hsl(186, 96%, 16%);
--primary-darkest: hsl(186, 96%, 8%);

--secondary-color: hsl(40, 92%, 50%);
--secomary-dark: hsl(40, 91%, 32%);
--accent-color: #de351b;
--accent-dark: #911c0a;

--linear-gradient:--linear-gradient:linear-gradient(180deg, #002D37 0%, #049FB1 78.13%,  #E2E2E2 100%);
--linear-gradient:--linear-gradient(180deg, #002D37 0%, #049FB1 78.13%, #E2E2E2 100%);

--background: var(--linear-gradient); 
--text-color: var(gray-dark); 

/* Spacing */
--padding-xxsmall: 4px;
--padding-xsmall: 8px;
--padding-small: 16px;
--padding-medium: 24px;
--padding-large: 32px;
--padding-xlarge: 48px;
--padding-xxlarge: 64px;

/* Elevation */
--shadow: 0 0 10px rgba(0, 0, 0, 0.5);
--animation: fadein 2s;

/* Border radius */
--border-radius: 4px;
--border-radius-large: 8px;
--border-radius-xlarge: 16px;
}

/* Reset default browser styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0px solid red;
}

/* Set some global defaults */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* General body styling */
body {
  font-family: Poppins, sans-serif;
  background-color: var(--background);
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1000;
  background-image: url(../img/bg_enhanced.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Set global styles for the user's design system */    
/* h1, h2, h3, h4, h5, h6 {} */
.text-center {
    text-align: center;
}

/* Main styling */
main {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    gap: var(--padding-small);
}
/* Section styling */

/* Container styling */

.container {
    display: flex;
    gap: var(--padding-xsmall);
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 24px;
    background-color: var(--white);

}
.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Navigation styling */

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: var(--black);
}

/* Navigation bar styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-small);
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;  
}

/* Navigation link styling */
nav a {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    color: var(--white);
    padding: 12px 24px 10px 24px;
}

/* Navigation link hover styling */
nav a:hover {
    background-color: var(--white);
    color: var(--black);
    transition: 400ms;
}

/* Header styling */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    gap: var(--padding-xsmall);
    color: var(--white);
    padding: var(--padding-xsmall);
}

/* Header title styling */
header h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

/* Header subtitle styling */   
header h2 {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

/* Header image styling */
header img {
    height: 160px;
    width: auto;
    border-radius: 50%;
}

/* SECTIONS */

/* Footer styling */
footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    min-height: 40px;
    color: var(--white);
    bottom: 0;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    
    header h1 {
        font-size: 2.6rem;
    }

    header h2 {
        font-size: 1.1rem;
    }
    .gallery img {
        max-width: 100%;
    }

    form input[type="text"], 
    form input[type="email"], 
    form input[type="submit"] {
        padding: 8px;
    }

}



